$font-path: '../fonts/viadeoicons/' !default;
$font-name: 'viadeoicons' !default;

@font-face {
    font-family: 'viadeoicons';
    font-weight: normal;
    font-style: normal;
    src: url($font-path + $font-name + '.eot');
    src: url($font-path + $font-name + '.woff2') format('woff2'),
         url($font-path + $font-name + '.woff') format('woff'),
         url($font-path + $font-name + '.ttf') format('truetype'),
         url($font-path + $font-name + '.eot?#iefix') format('embedded-opentype');
}

.vicon[class^="vicon-"],
.vicon[class*=" vicon-"] {
    display: inline-block;
    font-family: $font-name;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}

$icons: (
    antenna: '\EA01',
    heart: '\EA02'
);

@each $name, $icon in $icons {
    .vicon-#{$name}:before {
        content: $icon;
    }
}