$font-path: '../fonts/' !default;
$font-name: 'viadeoicons' !default;

@font-face {
    font-family: 'viadeoicons';
    font-weight: normal;
    font-style: normal;
    src: url($font-path + $font-name + '.eot');
    src: url($font-path + $font-name + '.woff2') format('woff2'),
         url($font-path + $font-name + '.woff') format('woff'),
         url($font-path + $font-name + '.ttf') format('truetype'),
         url($font-path + $font-name + '.eot?#iefix') format('embedded-opentype');
}

.vicon[class^="vicon-"],
.vicon[class*=" vicon-"] {
    display: inline-block;
    font-family: $font-name;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}

$icons: (
    alert-notif: '\EA01',
    archive: '\EA02',
    arrow-down-alt: '\EA03',
    arrow-down: '\EA04',
    arrow-first: '\EA05',
    arrow-last: '\EA06',
    arrow-left-alt: '\EA07',
    arrow-left: '\EA08',
    arrow-right-alt: '\EA09',
    arrow-right: '\EA0A',
    arrow-select: '\EA0B',
    arrow-up-alt: '\EA0C',
    arrow-up: '\EA0D',
    article: '\EA0E',
    book: '\EA0F',
    bubble: '\EA10',
    bubbles: '\EA11',
    calendar-1: '\EA12',
    calendar-30: '\EA13',
    calendar: '\EA14',
    check: '\EA15',
    close: '\EA16',
    company-add: '\EA17',
    company: '\EA18',
    contract: '\EA19',
    data: '\EA1A',
    degree-like: '\EA1B',
    degree-ok: '\EA1C',
    degree: '\EA1D',
    device-computer: '\EA1E',
    device-phone: '\EA1F',
    device-tablette: '\EA20',
    download: '\EA21',
    edit: '\EA22',
    euro: '\EA23',
    export: '\EA24',
    facebook: '\EA25',
    female-1: '\EA26',
    female-2: '\EA27',
    forum: '\EA28',
    gplus: '\EA29',
    graph: '\EA2A',
    group: '\EA2B',
    home: '\EA2C',
    idea: '\EA2D',
    information: '\EA2E',
    job: '\EA2F',
    key: '\EA30',
    lets-meet: '\EA31',
    like: '\EA32',
    link: '\EA33',
    location: '\EA34',
    mail: '\EA35',
    male-1: '\EA36',
    male-2: '\EA37',
    money: '\EA38',
    network: '\EA39',
    notification: '\EA3A',
    phone: '\EA3B',
    photo: '\EA3C',
    plus: '\EA3D',
    premium: '\EA3E',
    print: '\EA3F',
    profil: '\EA40',
    recommand: '\EA41',
    reload: '\EA42',
    request-add: '\EA43',
    request-delete: '\EA44',
    request-ok: '\EA45',
    request: '\EA46',
    save: '\EA47',
    saved: '\EA48',
    search-plus: '\EA49',
    search-catalog: '\EA4A',
    search: '\EA4B',
    settings: '\EA4C',
    share: '\EA4D',
    speech: '\EA4E',
    star: '\EA4F',
    stats: '\EA50',
    study: '\EA51',
    tag: '\EA52',
    target: '\EA53',
    tianji: '\EA54',
    tie: '\EA55',
    time: '\EA56',
    tools: '\EA57',
    trust: '\EA58',
    twitter: '\EA59',
    upload: '\EA5A',
    viadeo: '\EA5B',
    video: '\EA5C',
    visibility: '\EA5D',
    visit: '\EA5E',
    warning: '\EA5F'
);



@each $name, $icon in $icons {
    .vicon-#{$name}:before {
        content: $icon;
    }
}