@import 'icons';

body {
    text-align: center;
}

div {
    display: inline-block;
    padding: 5rem;
}

.vicon {
    color: #000;
    font-size: 5rem;
}

.vicon-antenna {
    color: #00f;
}

.vicon-heart {
    color: #f00;
}
