$font-path: '<%= fontPath %>' !default;
$font-name: '<%= fontName %>' !default;

@font-face {
    font-family: '<%= fontName %>';
    font-weight: normal;
    font-style: normal;
    src: url($font-path + $font-name + '.eot');
    src: url($font-path + $font-name + '.woff2') format('woff2'),
         url($font-path + $font-name + '.woff') format('woff'),
         url($font-path + $font-name + '.ttf') format('truetype'),
         url($font-path + $font-name + '.eot?#iefix') format('embedded-opentype');
}

.<%= className %>[class^="<%= className %>-"],
.<%= className %>[class*=" <%= className %>-"] {
    display: inline-block;
    font-family: $font-name;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}

$icons: (
    <%= glyphs.map(function(glyph) {
        return glyph.name + ': \'' + '\\' + glyph.unicode[0].charCodeAt(0)
            .toString(16).toUpperCase() + '\''
    }).join(',\n    ') %>
);



@each $name, $icon in $icons {
    .<%= className %>-#{$name}:before {
        content: $icon;
    }
}
